[submodule "dependencies/habitat-sim"]
	path = dependencies/habitat-sim
	url = https://github.com/facebookresearch/habitat-sim
[submodule "dependencies/habitat-lab"]
	path = dependencies/habitat-lab
	url = https://github.com/facebookresearch/habitat-lab
